body{
    background-image: url(bg.jpeg);
    background-size: cover;
    overflow: hidden;
}
.taskbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f3f3f3; 
    display: flex;
    justify-content: center;
    bottom: 0;
    overflow: hidden;
    z-index: 110;
}
.fullright{
    position:absolute;
    right:0;

}
.startmenu{
    position: absolute;
    /* bottom: 40px; */
    bottom: -650px;
    transition: all 0.3sec ease-in;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.startmenu img{
    border-radius: 15px;
}
